<section class="diagnostic">
	<div class="container">
		<div class="row">
			<div class="text-center" style="margin-bottom:40px;">
				<h3 style="color:#47c9af;margin:0 0 10px 0;">Diagnóstico de Mecanismos de Desarrollo Urbano</h3>
				<span style="color:#333;font-size:16px;">para transitar a ciudades bajas en emisiones en el sector transporte</span>	
			</div>
			
			<div class="col-lg-12">
				<tabset>
					<tab heading="Introducción">
						<div class="row active">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<h3>Objetivo del Diagnóstico</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Normativos">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<h3>Normativos</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Económicos">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<h3>Económicos</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture3.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Recomendaciones">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<h3>Económicos</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section