<header class="d-header">
	<div class="container">
		<div class="navbar-header">
		 	<a ui-sref="index">
				<img src="assets/empty_logo.png" width="150" alt="logo intrinno" class="logo">
		  	</a>
		</div>
	  	<div class="navbar-collapse collapse" >
			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="index">INICIO</a></li>
				<li ui-sref-active="active"><a ui-sref="/diagnostic">DIAGNÓSTICO</a></li>
				<li ui-sref-active="active"><a ui-sref="/tools">HERRAMIENTAS</a></li>
				<li ui-sref-active="active"><a ui-sref="/strategies">ESTRATEGIAS</a></li>
				<li ui-sref-active="active"><a ui-sref="/model">MODELO</a></li>
				<li ui-sref-active="active"><a ui-sref="/about">ACERCA</a></li>
			</ul>
	  	</div>
	</div>
</header>