<header class="d-header">
	<div class="container">
		<div class="navbar-header">
		 	<a ui-sref="index">
				<img src="assets/empty_logo.png" width="150" alt="logo intrinno" class="logo">
		  	</a>
		</div>
	  	<div class="navbar-collapse collapse" >
			<ul class="nav navbar-nav">
				<li ><a id="#inicio">INICIO</a></li>
				<li ><a href="#diagnostic" du-smooth-scroll du-scrollspy offset="50">DIAGNÓSTICO</a></li>
				<li ><a href="#tools" du-smooth-scroll du-scrollspy offset="50">HERRAMIENTAS</a></li>
				<li ><a href="#strategies" du-smooth-scroll du-scrollspy offset="50">ESTRATEGIAS</a></li>
				<li ><a href="#model" du-smooth-scroll du-scrollspy offset="50">MODELO</a></li>
				<li ><a href="#about" du-smooth-scroll du-scrollspy offset="50">ACERCA</a></li>
			</ul>
	  	</div>
	</div>
</header>