<footer class="about" id="about">
	<div class="text-center">
		<div class="about">
			<p>El objetivo de este sitio es difundir el trabajo de <strong>ITDP</strong> en materia de Desarrollo Orientado al Transporte con el apoyo de <strong>USAID-MLED</strong> y en coordinación con la <strong>SEDATU</strong>.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center team">
			<h4>Coordinación</h4>
			<p>Nombre</p>
			<ul>
				<li><i class="dotmx_twitter"></i></li>
				<li><i class="dotmx_facebook"></i></li>
			</ul>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center team">
			<h4>Diseño Web</h4>
			<p>Nombre</p>
			<ul>
				<li><i class="dotmx_twitter"></i></li>
				<li><i class="dotmx_facebook"></i></li>
			</ul>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center team">
			<h4>Desarrollo Web</h4>
			<p>Nombre</p>
			<ul>
				<li><i class="dotmx_twitter"></i></li>
				<li><i class="dotmx_facebook"></i></li>
			</ul>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center team">
			<h4>Desarrollo SIG</h4>
			<p>Nombre</p>
			<ul>
				<li><i class="dotmx_twitter"></i></li>
				<li><i class="dotmx_facebook"></i></li>
			</ul>
		</div>
	</div>
</footer>