<header class="d-header" hide-header hide-offset="60">
	<div class="container">
		<div class="navbar-header">
		 	<a ui-sref="index" style="text-decoration:none;text-style:none;">
		 		<h2 style="margin:8.5px auto;font-family: 'Quicksand', sans-serif;">DOT <span style="color:#74BDB6;">MX</span></h2>
				<!-- <img src="assets/empty_logo.png" width="150" alt="logo intrinno" class="logo"> -->
		  	</a>
		</div>
	  	<div class="navbar-collapse collapse" >
			<ul class="nav navbar-nav">
				<li ><a id="#inicio" title="Inicio">INICIO</a></li>
				<li ><a href="#diagnostic" title="Diagnóstico" du-smooth-scroll du-scrollspy >Diagnóstico</a></li>
				<li ><a href="#tools" title="Herramientas" du-smooth-scroll du-scrollspy >Herramientas</a></li>
				<li ><a href="#strategies" title="Estratégias" du-smooth-scroll du-scrollspy >Estrategias</a></li>
				<li ><a href="#model" title="Modelo" du-smooth-scroll du-scrollspy >Modelo</a></li>
				<li ><a href="#map" title="Mapa" du-smooth-scroll du-scrollspy >Mapa</a></li>
				<li ><a href="#about" title="Acerca" du-smooth-scroll du-scrollspy >Acerca de</a></li>
			</ul>
	  	</div>
	</div>
</header>
