<ul class="cb-slideshow">
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
</ul>
<section class="main" id="main">
	<div class="container">
		<div class="text-center title-content">
			<h2>Sell Your Product Online With Elegance</h2>
			<p>Marketex is The Ultimate and Multipurpose Landing Page</p>
			<div class="mouse-icon" href="#diagnostic" du-smooth-scroll du-scrollspy offset="0" >
				<div class="wheel"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-bottom:20px;"><img src="assets/logo_usaid.png" alt="logo de la SEDATU" width="215"></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-bottom:20px;"><img src="assets/logo_sedatu.png" alt="logo de la SEDATU" width="225"></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-bottom:20px;"><img src="assets/logo_itdp.png" alt="logo de la SEDATU" width="215"></div>
		</div>
	</div>
</section>
<section class="diagnostic" id="diagnostic">
	<div class="container">
		<div class="row">
			<div class="text-center" style="margin-bottom:40px;padding:0 15px;">
				<h3 style="color:#47c9af;margin:0 0 10px 0;">Diagnóstico de Mecanismos de Desarrollo Urbano</h3>
				<span style="color:#37474F;font-size:16px;">para transitar a ciudades bajas en emisiones en el sector transporte</span>    
			</div>
			<div class="col-lg-12">
				<tabset >
					<tab heading="Introducción">
						<div class="row active">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<h3>Objetivo del Diagnóstico</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Normativos">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="margin:0;padding:0;">
								<tabset class="new-tabs">
									<tab heading="Descripción">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Estos mecanismos pueden ser incentivos positivos para el desarrollo de proyectos que se establezcan en los planes y programas de desarrollo urbano orientados al DOT. Sin embargo, también pueden ser barreras legales para conseguir dichos objetivos. Por ejemplo, las disposiciones jurídicas locales deben prever los casos en los que no se requieran o se simplifiquen las autorizaciones, permisos y licencias para el uso del suelo urbano, las construcciones, las subdivisiones de terrenos y demás trámites administrativos. Esto, considerando lo dispuesto en los planes o programas de desarrollo urbano y en las normas, criterios y zonificación que de éstos se deriven (LGAH, art. 36).</p>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de Planeación">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Los mecanismos de planeación definen los propósitos, la estrategia general y la política pública de desarrollo urbano en un territorio determinado. Podemos catalogarlos de la siguiente manera.
													<ul>
														<li><strong>PLANES Y PROGRAMAS DE DESARROLLO </strong></li>
														<ul>
															<li>Plan Nacional de Desarrollo</li>
															<li>Plan Nacional de Desarrollo Urbano</li>
															<li>Programas Básicos de Desarrollo Urbano</li>
															<li>Programas Derivados de Desarrollo Urbano</li>
														</ul>
														<li>NORMAS DE GENERALES DE ORDENACIÓN (NGO)</li>
														<li>ÁREAS DE GESTIÓN ESTRATÉGICA</li>
													</ul>
												</p>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de adquisición de suelo">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Disposiciones jurídicas para que las autoridades de desarrollo urbano adquieran la propiedad, establezcan limitaciones a la propiedad privada y eviten acciones de especulación en proyectos inmobiliarios.</p>
											</div>
											<ul>
												<li><strong>EXPROPIACIÓN</strong></li>
												<li><strong>DERECHO DE PREFERENCIA / DERECHO DEL TANTO</strong></li>
												<li><strong>ACCIONES PARA EVITAR LA ESPECULACIÓN</strong></li>
											</ul>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture3.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de control sobre el desarrollo">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Son disposiciones jurídicas para que las autoridades de desarrollo urbano mantengan el control de los usos de suelo, proyectos inmobiliarios y crecimiento de desarrollo urbano. Este tipo de mecanismos pueden servir a las autoridades de desarrollo urbano para controlar el crecimiento desordenado de las ciudades. A continuación se analizan estos mecanismos identificados en el diagnóstico.</p>
											</div>
											<ul>
												<li><strong>ZONIFICACIÓN</strong></li>
												<li><strong>ÁREAS NO URBANIZABLES</strong></li>
												<li><strong>INCORPORACIÓN DE PREDIOS</strong></li>
												<li><strong>REGULARIZACIÓN DE LA TENENCIA DE LA TIERRA</strong></li>
												<li><strong>FRACCIONAMIENTOS</strong></li>
											</ul>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de gestión del desarrollo">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de coordinación">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Estos mecanismos reducen los costos de transacción de la coordinación entre las autoridades de desarrollo urbano. Los mecanismos de coordinación identificados fueron los convenios administrativos, organismos auxiliares de desarrollo urbano y, mecanismos específicos a las zonas metropolitanas. A pesar de que estos mecanismos no son exclusivos del desarrollo urbano, son clave para la implementación de los proyectos DOT, ya que, como hemos mencionado, una de las características del desarrollo urbano es la intervención de diferentes y variados actores.</p>
												<ul>
													<li><strong>CONVENIOS ADMINISTRATIVOS</strong> </li>
													<li><strong>ORGANISMOS AUXILIARES</strong> </li>
													<li><strong>MECANISMOS DE COORDINACIÓN EN LAS ZONAS METROPOLITANAS</strong> </li>
												</ul>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos coercitivos">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Los mecanismos coercitivos son disposiciones jurídicas que sancionan el incumplimiento de las obligaciones de desarrollo urbano. Podemos traducirlos como incentivos negativos que permiten la ejecución de los otros mecanismos. Su importancia radica en que sirven como amenaza de la legislación para desalentar cualquier intento de violar un precepto normativo. Las medidas de seguridad y sanciones administrativas son impartidas por la administración pública estatal y federal.</p>
												<ul>
													<li><strong>MEDIDAS DE SEGURIDAD</strong></li>
													<li><strong>SANCIONES</strong></li>
													<li><strong>DELITOS</strong></li>
												</ul>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos Normativos en leyes distintas a las de DU">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Disposiciones normativas establecidas en leyes que no son de desarrollo urbano y que impactan en éste. A continuación se analizan las leyes que contemplan dichos mecanismos. Hicimos esta separación dentro de la clasificación de mecanismos normativos para distinguir los que podemos encontrar en leyes que no son de desarrollo urbano. Estos pueden ser clasificados dentro de los mecanismos de adquisición del suelo, de control del suelo, de gestión del desarrollo, de coordinación y coercitivos.</p>
												<ul>
													<li><strong>LEYES DE EXPROPIACIÓN ESTATALES</strong></li>
													<li><strong>LEYES DE MOVILIDAD</strong></li>
													<li><strong>OTRAS LEYES</strong></li>
												</ul>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
								</tabset>
							</div>
						</div>
					</tab>
					<tab heading="Económicos">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<h3>Económicos</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture3.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Recomendaciones">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<h3>Económicos</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>
<section class="tools" id="tools">
	<div class="container">
		<div class="row ">
			<div class="text-center" style="margin-bottom:40px;">
				<h3 style="color:#47c9af;margin:0 0 10px 0;">Caja de Herramientas</h3>
				<span style="color:#37474F;font-size:16px;">para el diseño e implementación de políticas y proyectos DOT</span>
			</div>
			<div class="col-lg-12">
			<accordion >
				<accordion-group is-open="first.isFirstOpen" >
					<accordion-heading is-open="first.isFirstOpen" ng-class="{collapse:!first.isFirstOpen}">
					Objetivo del Diagnóstico <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': first.isFirstOpen, 'glyphicon-chevron-right': !first.isFirstOpen}"></i>
					</accordion-heading>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="tabs-img"> 
								<img ng-src="assets/tabbed-picture2.png" alt="">
							</div>
						</div>
					</div>
				</accordion-group>
				<accordion-group is-open="second.open">
					<accordion-heading>
					Normativos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': second.open, 'glyphicon-chevron-right': !second.open}"></i>
					</accordion-heading>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="tabs-img"> 
								<img ng-src="assets/tabbed-picture3.png" alt="">
							</div>
						</div>
					</div>
				</accordion-group>
				<accordion-group is-open="third.open">
					<accordion-heading>
					Económicos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': third.open, 'glyphicon-chevron-right': !third.open}"></i>
					</accordion-heading>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="tabs-img"> 
								<img ng-src="assets/tabbed-picture2.png" alt="">
							</div>
						</div>
					</div>
				</accordion-group>
			</accordion>
			</div>
		</div>
	</div>
</section>
<section class="map" id="map">
	<div id="mapa">
		<div id="sidebar" class="sidebar collapsed">
			<!-- Nav tabs -->
			<ul class="sidebar-tabs" role="tablist">
				<li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="sidebar-content active">
				<div class="sidebar-pane" id="home">
					<ul class="nav nav-pills test" style="visibility:visible;margin:0;padding:5px 0;width:105%;border-color: #7C8990;border-width: 1px 0px;">
						<li style="padding:5px 0;margin:0" class="col-xs-4 col-sm-4 col-md-4 active">
							<a id="poblacion" style="padding:10px 5px; background-color:transparent;">Población</a>
						</li>
					</ul>
					
					<div class="tab-content">
						<div class="row tab-pane active poblacion" style="margin:0;">
							<div class="sl-body">
								<ul id="listdata">
									<li>Nombre de la estación: <span id="info-Name"></span></li>
									<li>Agencia: <span id="info-Agencia"></span></li>
									
									<li>Descripción: <span id="info-Descriptio"></span></li>										
									<li>Total de escuelas: <span id="info-Escuelas"></span></li>
									<li>Centros de salud y asistencia médica: <span id="info-AsistMed"></span></li>
									<li>Centros comerciales: <span id="info-CComerc"></span></li>
									<li>Mercados: <span id="info-Mercados"></span></li>
									<li>Templos: <span id="info-Templos"></span></li>
									<li>Plazas: <span id="info-Plazas"></span></li>
									<li>Intalaciones recreativas y deportivas: <span id="info-Deport"></span></li>
									<li>Personal remunerado del sector primario: <span id="info-PerRemPrim"></span></li>
									<li>Personal remunerado del sector secundario: <span id="info-PerRemSecu"></span></li>
									<li>Personal remunerado del sector terciario: <span id="info-PerRemTerc"></span></li>
									<li>Unidades económicas del sector primario: <span id="info-UEprim"></span></li>
									<li>Unidades económicas del sector secundario: <span id="info-UEsecu"></span></li>
									<li>Unidades económicas del sector terciario: <span id="info-UEterc"></span></li>
									<li>Población total: <span id="info-PobTot"></span></li>
									<li>Viviendas totales: <span id="info-VivTot"></span></li>
									<li>Viviendas deshabitadas: <span id="info-VivDeshab"></span></li>
									<li>Viviendas con automóvil: <span id="info-VivConAuto"></span></li>
									<li>Viviendas con todos los servivios: <span id="info-VivTodServ"></span></li>
									<li>Población ocupada: <span id="info-PobOcupada"></span></li>
									<li>Población desocupada: <span id="info-PobDesocup"></span></li>
									<li>Densidad de población promedio: <span id="info-DensPobAvg"></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="map-box" class="sidebar-map"></div>
		
		<div class="select-city">
			<ul class="nav nav-pills city" id="focus-city">
			  <li class="active"><a id="cdmx">Ciudad de México</a></li>
			  <li><a id="gdl">Guadalajara</a></li>
			  <li><a id="puebla">Puebla</a></li>
			  <li><a id="mty">Monterrey</a></li>
			  <li><a id="juarez">Juarez</a></li>
			  <li><a id="leon">Leon</a></li>
			  <li><a id="chihua">Chihuahua</a></li>
			  <li><a id="aguas">Aguascalientes</a></li>
			  <li><a id="pachuca">Pachuca</a></li>
			</ul>
			<div class="openSC">
				<span class="city bbvanalyzr-down-city"></span>
			</div>
		</div>
		
		<div class="select-agency">
			<ul class="nav nav-pills city" id="focus-agency"></ul>
			<div class="openSC"><span class="agency bbvanalyzr-down-agency"></span></div>
		</div>
	</div>
</section>
