<ul class="cb-slideshow">
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
</ul>
<section class="main" id="main">
	<div class="container">
		<div class="text-center title-content">
			<h2>Guía de implementación de políticas y proyectos de Desarrollo Orientado al Transporte</h2>
			<p>ToolKit</p>
			<div class="mouse-icon" href="#diagnostic" du-smooth-scroll du-scrollspy offset="0" >
				<div class="wheel"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-bottom:20px;"><a href="http://www.usaid.gov/where-we-work/latin-american-and-caribbean/mexico" title="Página oficial de USAID" target="_blank"><img src="assets/logo_usaid.png" alt="logo USAID" width="215"></a></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-bottom:20px;"><a href="http://www.sra.gob.mx/sraweb/" title="Página oficial de la SEDATU" target="_blank"><img src="assets/logo_sedatu.png" alt="logo SEDATU" width="225"></a></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-bottom:20px;"><a href="http://mexico.itdp.org/" title="Página oficial de ITDP México" target="_blank"><img src="assets/logo_itdp.png" alt="logo de ITDP" width="215"></a></div>
		</div>
	</div>
</section>
<section class="diagnostic" id="diagnostic">
	<div class="container">
		<div class="row">
			<div class="text-center" style="margin-bottom:40px;padding:0 15px;">
				<h3 class="title-section">Diagnóstico de Mecanismos de Desarrollo Urbano</h3>
				<span style="color:#37474F;font-size:16px;">para transitar a ciudades bajas en emisiones en el sector transporte</span>    
			</div>
			<div class="col-lg-12">
				<tabset >
					<tab heading="Introducción" class="tab">
						<div class="row active">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Objetivo del Diagnóstico</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Normativos">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="margin:0;padding:0;">
								<tabset class="new-tabs">
									<tab heading="Descripción">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Estos mecanismos pueden ser incentivos positivos para el desarrollo de proyectos que se establezcan en los planes y programas de desarrollo urbano orientados al DOT. Sin embargo, también pueden ser barreras legales para conseguir dichos objetivos. Por ejemplo, las disposiciones jurídicas locales deben prever los casos en los que no se requieran o se simplifiquen las autorizaciones, permisos y licencias para el uso del suelo urbano, las construcciones, las subdivisiones de terrenos y demás trámites administrativos. Esto, considerando lo dispuesto en los planes o programas de desarrollo urbano y en las normas, criterios y zonificación que de éstos se deriven (LGAH, art. 36).</p>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de Planeación">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" >
												<p>Los mecanismos de planeación definen los propósitos, la estrategia general y la política pública de desarrollo urbano en un territorio determinado. Podemos catalogarlos de la siguiente manera.
													<ul>
														<li><strong>Planes y Programas de Desarrollo</strong></li>
														<ul>
															<li>Plan Nacional de Desarrollo</li>
															<li>Plan Nacional de Desarrollo Urbano</li>
															<li>Programas Básicos de Desarrollo Urbano</li>
															<li>Programas Derivados de Desarrollo Urbano</li>
														</ul>
														<li><strong>Normas Generales de Ordenación (NGO)</strong></li>
														<li><strong>Áreas de Gestión Estratégica</strong></li>
													</ul>
												</p>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de adquisición de suelo">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Disposiciones jurídicas para que las autoridades de desarrollo urbano adquieran la propiedad, establezcan limitaciones a la propiedad privada y eviten acciones de especulación en proyectos inmobiliarios.</p>
												<ul>
													<li><strong>Expropiación</strong></li>
													<li><strong>Derecho de preferencia / Derecho del tanto</strong></li>
													<li><strong>Acciones para evitar la especulación</strong></li>
												</ul>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture3.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de control sobre el desarrollo">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Son disposiciones jurídicas para que las autoridades de desarrollo urbano mantengan el control de los usos de suelo, proyectos inmobiliarios y crecimiento de desarrollo urbano. Este tipo de mecanismos pueden servir a las autoridades de desarrollo urbano para controlar el crecimiento desordenado de las ciudades. A continuación se analizan estos mecanismos identificados en el diagnóstico.</p>
												<ul>
													<li><strong>Zonificación</strong></li>
													<li><strong>Áreas no urbanizables</strong></li>
													<li><strong>Incorporación de predios</strong></li>
													<li><strong>Regularización de la tenencia de la tierra</strong></li>
													<li><strong>Fraccionamientos</strong></li>
												</ul>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de gestión del desarrollo">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos de coordinación">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Estos mecanismos reducen los costos de transacción de la coordinación entre las autoridades de desarrollo urbano. Los mecanismos de coordinación identificados fueron los convenios administrativos, organismos auxiliares de desarrollo urbano y, mecanismos específicos a las zonas metropolitanas. A pesar de que estos mecanismos no son exclusivos del desarrollo urbano, son clave para la implementación de los proyectos DOT, ya que, como hemos mencionado, una de las características del desarrollo urbano es la intervención de diferentes y variados actores.</p>
												<ul>
													<li><strong>Convenios administrativos</strong> </li>
													<li><strong>Organismos auxiliares</strong> </li>
													<li><strong>Mecanismos de coordinación en las Zonas Metropolitanas</strong> </li>
												</ul>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos coercitivos">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Los mecanismos coercitivos son disposiciones jurídicas que sancionan el incumplimiento de las obligaciones de desarrollo urbano. Podemos traducirlos como incentivos negativos que permiten la ejecución de los otros mecanismos. Su importancia radica en que sirven como amenaza de la legislación para desalentar cualquier intento de violar un precepto normativo. Las medidas de seguridad y sanciones administrativas son impartidas por la administración pública estatal y federal.</p>
												<ul>
													<li><strong>Medidas de seguridad</strong></li>
													<li><strong>Sanciones</strong></li>
													<li><strong>Delitos</strong></li>
												</ul>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Mecanismos Normativos en leyes distintas a las de DU">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Disposiciones normativas establecidas en leyes que no son de desarrollo urbano y que impactan en éste. A continuación se analizan las leyes que contemplan dichos mecanismos. Hicimos esta separación dentro de la clasificación de mecanismos normativos para distinguir los que podemos encontrar en leyes que no son de desarrollo urbano. Estos pueden ser clasificados dentro de los mecanismos de adquisición del suelo, de control del suelo, de gestión del desarrollo, de coordinación y coercitivos.</p>
												<ul>
													<li><strong>Leyes de expropiación estatales</strong></li>
													<li><strong>Leyes de movilidad</strong></li>
													<li><strong>Oras leyes</strong></li>
												</ul>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture2.png" alt="">
												</div>
											</div>
										</div>
									</tab>
								</tabset>
							</div>
						</div>
					</tab>
					<tab heading="Económicos">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:0;padding:0;">
								<tabset class="new-tabs">
									<tab heading="Descripción">
										<div class="row">
											<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
												<p>Denominamos mecanismos económicos de desarrollo urbano a las disposiciones establecidas en las leyes fiscales como gravámenes y al gasto público, los cuales permiten el financiamiento de inversiones públicas. Lo anterior sea con cargo al erario público, con participación privada o mediante la captura de valor generada por la inversión privada. Además dichos mecanismos pueden generar un cambio de comportamiento que incentiva o desincentiva ciertas actividades, incluido el desarrollo urbano</p>
											</div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-top:5px;">
												<div class="tabs-img"> 
													<img ng-src="assets/tabbed-picture.png" alt="">
												</div>
											</div>
										</div>
									</tab>
									<tab heading="Fiscales">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
												<accordion >
													<accordion-group is-open="fiscal_first.isFirstOpen" >
														<accordion-heading is-open="fiscal_first.isFirstOpen" ng-class="{collapse:!fiscal_first.isFirstOpen}">
														Descripción <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fiscal_first.isFirstOpen, 'glyphicon-chevron-right': !fiscal_first.isFirstOpen}"></i>
														</accordion-heading>
														<div class="row">
															<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
																<p>Los mecanismos fiscales generan un cambio de comportamiento dependiendo de si se diseñan como incentivos positivos, como exenciones tributarias, o como incentivos negativos gravando actividades no deseadas. Las acciones tomadas por autoridades de desarrollo urbano, que directa o indirectamente incrementan el valor del suelo Y benefician a los propietarios de dichos predios, pero ese valor se convierte en un bien privado. Capturar ese incremento para beneficiar a la sociedad se logra por medio del cobro por el uso de los derechos de construcción (Smolka, 2013), algo que se conoce comúnmente como “captura de valor”. 
																</p>
																<p>Los mecanismos fiscales pueden recuperar valor por concesiones de densidad o acciones de mejoramiento que se aplican a cierta zona</p>
															</div>
															<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																<div class="tabs-img"> 
																	<img ng-src="assets/tabbed-picture2.png" alt="">
																</div>
															</div>
														</div>
													</accordion-group>
													<accordion-group is-open="fiscal_second.open">
														<accordion-heading>
														Contribución de mejoras <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fiscal_second.open, 'glyphicon-chevron-right': !fiscal_second.open}"></i>
														</accordion-heading>
														<div class="row">
															<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
																<p>Las contribuciones por mejoras son gravámenes por obra pública o sevicio público en una zona de beneficio. Estos mecanismos son los más utilizados para la captura de valor. Todas las entidades federativas tienen este mecanismo. Sin embargo, sólo algunas entidades federativas tienen legislados mecanismos de captura de valor específicos en sus leyes de desarrollo urbano. Las contribuciones por mejoras que tienen como objetivo la captación de valor y los estados que cuentan con dicho mecanismo específico.</p>
															</div>
															<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																<div class="tabs-img"> 
																	<img ng-src="assets/tabbed-picture3.png" alt="">
																</div>
															</div>
														</div>
													</accordion-group>
													<accordion-group is-open="fiscal_third.open">
														<accordion-heading>
														Derechos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fiscal_third.open, 'glyphicon-chevron-right': !fiscal_third.open}"></i>
														</accordion-heading>
														<div class="row">
															<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
																<p>Los derechos son contribuciones fiscales que gravan los bienes y servicios públicos.El principal bien en el desarrollo urbano es el suelo, por ello los mecanismos identificados están relacionados con el uso y aprovechamiento de éste. Debido a que los derechos también gravan servicios, muchas veces se confunden con las contribuciones; sin embargo, éstos no gravan el servicio de obra pública. </p>
																<p>Es importante aclarar que este mecanismo no sirve para la captura de valor porque lo que grava es un servicio público, por ello si se quiere capturar el valor el mecanismo correcto es el de contribución de mejoras.</p>
															</div>
															<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																<div class="tabs-img"> 
																	<img ng-src="assets/tabbed-picture3.png" alt="">
																</div>
															</div>
														</div>
													</accordion-group>
													<accordion-group is-open="fiscal_fourth.open">
														<accordion-heading>
														Impuestos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fiscal_fourth.open, 'glyphicon-chevron-right': !fiscal_fourth	.open}"></i>
														</accordion-heading>
														<div class="row">
															<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
																<p>Los impuestos son las contribuciones establecidas en la ley que deben pagar las personas físicas y morales que se encuentren en la situación jurídica o de hecho prevista por la misma y que sean distintas a las aportaciones de seguridad social, contribución de mejoras y derechos (Alcalá, 2013). Una de las principales fuentes de ingreso municipal es el impuesto predial.</p>
																<p>Son sujetos al predial, las personas físicas y morales que sean propietarias del suelo o las construcciones adheridas a éste, independientemente de los derechos que sobre las construcciones tenga un tercero.  La principal ventaja es que, al incrementar la densidad poblacional y las construcciones dentro de una ciudad, también incrementa la recaudación del predial.</p>
																<p>Al permitir la expansión urbana, reduce la base tributaria de una ciudad, haciendo cada vez más difícil mantenerla por la baja recaudación y el costo de mantenimiento de los servicios. Además, la expansión urbana fuera de los límites municipales (zonas metropolitanas) reduce los impuestos recibidos por la ciudad.</p>
															</div>
															<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																<div class="tabs-img"> 
																	<img ng-src="assets/tabbed-picture3.png" alt="">
																</div>
															</div>
														</div>
													</accordion-group>
												</accordion>
											</div>
										</div>
									</tab>
									<tab heading="De Financiamiento">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<accordion >
													<accordion-group is-open="funding_first.isFirstOpen" >
														<accordion-heading is-open="funding_first.isFirstOpen" ng-class="{collapse:!funding_first.isFirstOpen}">
														Financiamiento Tradicional <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': funding_first.isFirstOpen, 'glyphicon-chevron-right': !funding_first.isFirstOpen}"></i>
														</accordion-heading>
														<div class="row">
															<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
																<p>Llamamos a estos mecanismos financieros tradicionales porque son utilizados en cualquier proyecto de financiamiento, no solamente en proyectos de desarrollo urbano o DOT. Dentro estos mecanismos identificamos a:</p>
																<ul>
																	<li><strong>La deuda pública</strong></li>
																	<li><strong>La bursatilización</strong></li>
																	<li><strong>Las APPs.</strong></li>
																</ul>
															</div>
															<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																<div class="tabs-img"> 
																	<img ng-src="assets/tabbed-picture2.png" alt="">
																</div>
															</div>
														</div>
													</accordion-group>
													<accordion-group is-open="funding_second.open">
														<accordion-heading>
														Financiamiento de Desarrollo Urbano <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': funding_second.open, 'glyphicon-chevron-right': !funding_second.open}"></i>
														</accordion-heading>
														<div class="row">
															<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
																<p>Además de los mecanismos tradicionales existen mecanismos de financiamiento especiales de desarrollo urbano. La ventaja de éstos es que no requieren integrar varios tipos mecanismos al momento de implementarlos, sino que por sí solos atienden a las necesidades de obra urbana y, algunos, a obra urbana relacionada con el transporte. Los mecanismos identificados fueron:</p>
																<ul>
																	<li><strong>Las acciones de urbanización</strong></li>
																	<li><strong>La transferencia de potencialidades</strong></li>
																	<li><strong>Las Áreas de Desarrollo Económico (ADE)</strong></li>
																</ul>
															</div>
															<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																<div class="tabs-img"> 
																	<img ng-src="assets/tabbed-picture2.png" alt="">
																</div>
															</div>
														</div>
													</accordion-group>
												</accordion>
											</div>
										</div>
									</tab>
								</tabset>
							</div>
						</div>
					</tab>
					<tab heading="Recomendaciones">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Económicos</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>
<section class="tools" id="tools">
	<div class="container">
		<div class="row ">
			<div class="text-center" style="margin-bottom:40px;">
				<h3 class="title-section">Caja de Herramientas</h3>
				<span style="color:#37474F;font-size:16px;">para el diseño e implementación de políticas y proyectos DOT</span>
			</div>
			<div class="col-lg-12">
				<tabset >
					<tab heading="¿Para qué sirve?" class="tab">
						<div class="row active">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Objetivo de la Caja de Herramientas</h3>
								<p>Esta Caja de Herramientas busca delinear el proceso a seguir por los gobiernos municipales  para implementar políticas y proyectos piloto de desarrollo urbano orientado al transporte. En este sentido, este documento busca asistir a los gobiernos locales para que alcancen tal fin.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Política a nivel ciudad">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<p>Política a nivel ciudad</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Política a nivel estación">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Económicos</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Mapa">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:15px;">
								<h3 class="text-center">Explora las <span style="color:#009688;">áreas con potencial DOT</span> en tu ciudad</h3>
								<div class="row toolkit">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
										<i class="dotmx_search"></i>
										<p>Busca y elige tu ciudad para explorar la red de transporte público masivo y las características de su entorno</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
										<i class="dotmx_analyze3"></i>
										<p>Analiza  el entorno alrededor de las estaciones  y su relación con variables poblacionales, de vivienda y económicas.</p>
									</div>
								</div>
								<div class="row text-center" style="margin-top:50px;">
									<a href="#map" title="Mapa" du-smooth-scroll du-scrollspy style="text-decoration:none;">
										<i class="dotmx_down"></i>
									</a>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>
<section class="strategies" id="strategies">
	<div class="container">
		<div class="row ">
			<div class="text-center" style="margin-bottom:40px;">
				<h3 class="title-section">Estrategias</h3>
				<span style="color:#37474F;font-size:16px;">a nivel ciudad</span>
			</div>
			<div class="col-lg-12">
				<tabset >
					<tab heading="Introducción" class="tab">
						<div class="row active">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Objetivo de las Estrategias</h3>
								<p>En esta sección se presenta una metodología para estimar los impactos de políticas públicas en las emisiones de gases de efecto invernadero derivadas del transporte urbano. La metodología consiste en dos modelos. El primero trata de predecir los patrones de movilidad a raíz de los cambios en usos del suelo, y el segundo, estima las emisiones como resultado de los cambios en los patrones de movilidad. </p>
								<ul>
									<li><strong>El análisis del entorno construido e infraestructura.</strong></li>
									<li><strong>El marco legal y de planeación.</strong></li>
									<li><strong>El entorno político y de mercado.</strong></li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Aguascalientes">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Aguascalientes</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Distrito Federal">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Distrito Federal</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Guadalajara">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Guadalajara</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>
<section class="model" id="model">
	<div class="container">
		<div class="row ">
			<div class="text-center" style="margin-bottom:40px;">
				<h3 class="title-section">Modelo</h3>
				<span style="color:#37474F;font-size:16px;">subtitulo</span>
			</div>
			<div class="col-lg-12">
				<tabset >
					<tab heading="¿Para qué sirve?" class="tab">
						<div class="row active">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Objetivo de la Caja de Herramientas</h3>
								<p>Esta Caja de Herramientas busca delinear el proceso a seguir por los gobiernos municipales  para implementar políticas y proyectos piloto de desarrollo urbano orientado al transporte. En este sentido, este documento busca asistir a los gobiernos locales para que alcancen tal fin.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Modelo Distribución Modal">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Modelo Distribución Modal</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Modelo Reducción de CO2">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Modelo Reducción de CO2</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Recomendaciones">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Recomendaciones</h3>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture2.png" alt="">
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>
<section class="map" id="map">
	<div id="mapa">
		<div id="sidebar" class="sidebar collapsed">
			<!-- Nav tabs -->
			<ul class="sidebar-tabs" role="tablist">
				<li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="sidebar-content active">
				<div class="sidebar-pane" id="home">
					<ul class="nav nav-pills test">
						<li style="padding:5px 0;margin:0" class="col-xs-4 col-sm-4 col-md-4 active">
							<a id="poblacion" style="padding:10px 5px; background-color:transparent;">Población</a>
						</li>
					</ul>
					
					<div class="tab-content tc-sidebar">
						<div class="row tab-pane active poblacion">
							<div class="sl-body">
								<ul id="listdata">
									<li>Nombre de la estación: <span id="info-Name"></span></li>
									<li>Agencia: <span id="info-Agencia"></span></li>
									<li>Descripción: <span id="info-Descriptio"></span></li>
									<li>Total de escuelas: <span id="info-Escuelas"></span></li>
									<li>Centros de salud y asistencia médica: <span id="info-AsistMed"></span></li>
									<li>Centros comerciales: <span id="info-CComerc"></span></li>
									<li>Mercados: <span id="info-Mercados"></span></li>
									<li>Templos: <span id="info-Templos"></span></li>
									<li>Plazas: <span id="info-Plazas"></span></li>
									<li>Instalaciones recreativas y deportivas: <span id="info-Deport"></span></li>
									<li>Personal remunerado del sector primario: <span id="info-PerRemPrim"></span></li>
									<li>Personal remunerado del sector secundario: <span id="info-PerRemSecu"></span></li>
									<li>Personal remunerado del sector terciario: <span id="info-PerRemTerc"></span></li>
									<li>Unidades económicas del sector primario: <span id="info-UEprim"></span></li>
									<li>Unidades económicas del sector secundario: <span id="info-UEsecu"></span></li>
									<li>Unidades económicas del sector terciario: <span id="info-UEterc"></span></li>
									<li>Población total: <span id="info-PobTot"></span></li>
									<li>Viviendas totales: <span id="info-VivTot"></span></li>
									<li>Viviendas deshabitadas: <span id="info-VivDeshab"></span></li>
									<li>Viviendas con automóvil: <span id="info-VivConAuto"></span></li>
									<li>Viviendas con todos los servicios: <span id="info-VivTodServ"></span></li>
									<li>Población ocupada: <span id="info-PobOcupada"></span></li>
									<li>Población desocupada: <span id="info-PobDesocup"></span></li>
									<li>Densidad de población promedio: <span id="info-DensPobAvg"></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="map-box" class="sidebar-map"></div>
		
		<div class="select-city">
			<ul class="nav nav-pills city" id="focus-city">
			  <li class="active"><a id="cdmx" class="dotmx_marker">Ciudad de México</a></li>
			  <li><a id="gdl">Guadalajara</a></li>
			  <li><a id="puebla">Puebla</a></li>
			  <li><a id="mty">Monterrey</a></li>
			  <li><a id="juarez">Juarez</a></li>
			  <li><a id="leon">Leon</a></li>
			  <li><a id="chihua">Chihuahua</a></li>
			  <li><a id="aguas">Aguascalientes</a></li>
			  <li><a id="pachuca">Pachuca</a></li>
			</ul>
			<div class="openSC">
				<span class="city bbvanalyzr-down-city"></span>
			</div>
		</div>
		
		<div class="select-agency">
			<ul class="nav nav-pills city" id="focus-agency"></ul>
			<div class="openSC"><span class="agency bbvanalyzr-down-agency"></span></div>
		</div>
	</div>
</section>
