<section class="model" id="model">
	<div class="container">
		<div class="row ">
			<div class="text-center" style="margin-bottom:30px;">
				<h3 class="title-section">Modelo</h3>
				<span style="color:#37474F;font-size:16px;">subtitulo</span>
			</div>
			<div class="col-lg-12">
				<tabset >
					<tab heading="Introducción" class="tab">
						<div class="row active">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<p></p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/tabbed-picture.png" alt="">
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Descargar" class="documents">
						<div class="row text-center downloads">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<i class="dotmx_data108"></i>
								<h4>Base de Datos</h4>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<i class="dotmx_pdf"></i>
								<h4>MODELO</h4>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<i class="dotmx_Infographic"></i>
								<h4>IMAGEN</h4>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>