<section class="project" id="project">
	<div class="container">
		<div class="text-center" style="margin-bottom:30px;">
			<h3 class="title-section">PROYECTO <strong style="color:#009688;">DOT MX</strong></h3>
		</div>
		<p style="line-height:1.75;font-size:20px;font-weight:200 !important;"><span style="font-weight:bold !important;">Instrumentos de política pública y mecanismos de desarrollo urbano para transitar a ciudades bajas en emisiones</span> es un proyecto financiado por la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID), en el marco del Programa para el Desarrollo Bajo en Emisiones de México (MLED), y desarrollado por ITDP México el cual tiene como objetivo apoyar a los gobiernos locales en la identificación de instrumentos de desarrollo urbano que ayuden a impulsar políticas de Desarrollo Orientado al Transporte que promuevan un desarrollo bajo en emisiones en las ciudades del país. </p>
	</div>
</section>